@layer utilities {
  @media (prefers-color-scheme: dark) {
    /**
     * Color overrides
     **/
    .bg-blue-900 {
      /* TODO We can't really do this. We need to just append a transparency class to these elements. */
      background-color: rgba(0, 0, 0, 0.15);
    }

    .bg-dark-blue-gradient {
      &:before {
        background: linear-gradient(to bottom right, #633d7d, #2867ab 100%);
      }
      background: linear-gradient(to bottom right, #633d7d, #2867ab 100%);
    }

    /**
     * General
     **/
    .button {
      @apply ring-offset-slate-700;
    }

    .table {
      th {
        @apply text-slate-400;
      }

      tbody {
        @apply border-gray-500;

        tr {
          border-top: 1px solid theme('colors.slate.500');
        }

        td {
          @apply text-gray-400;

          a,
          input[type="submit"] {
            @apply text-lilac-200;
          }
        }
      }
    }

    /**
     * Form components
     **/
    .button-secondary {
      @apply text-lilac-200;
    }

    .button-alternative {
      @apply bg-black-400 border-black-400 text-white;

      &:hover {
        @apply bg-black-300 border-black-200 text-white;
      }
    }

    /**
     * Custom components
     **/
    /* Color picker */
    .pcr-app {
      @apply bg-slate-800 border border-solid border-slate-900;

      .pcr-interaction .pcr-result {
        @apply text-slate-300 border border-solid border-slate-900 bg-slate-800;

        &:focus {
          box-shadow: 0 0 0 1px theme('colors.blue.500'), 0 0 0 3px theme('colors.blue.500');
        }
      }
    }

    /* Date range picker */
    .daterangepicker {
      @apply bg-slate-800 border-slate-900;

      &::before {
        border-bottom-color: theme('colors.slate.900');
      }

      &::after {
        border-bottom-color: theme('colors.slate.800');
      }

      .calendar-table {
        @apply bg-slate-800 text-slate-300;

        /* navigation arrows */
        .available {
          span {
            @apply border-blue-500;
          }
        }
      }

      /* Clear and Apply buttons wrapper */
      .drp-buttons {
        border-top-color: theme('colors.slate.900');
        @apply text-slate-300;
      }

      th {
        &.available:hover {
          @apply bg-slate-600;
        }
      }

      td {
        &.off {
          @apply bg-slate-800 text-white;
        }

        &.available:hover {
          @apply bg-slate-600;
        }
      }

      .hourselect, .minuteselect, .ampmselect {
        @apply text-slate-300 border-slate-900 bg-slate-800 !important;
      }
    }

    /* Phone field */
    .iti__country-list {
      @apply bg-slate-800 border border-solid border-slate-900;
    }

    /* Select2 */
    .select2-container {
      .select2-selection__rendered {
        @apply text-slate-300 !important;
      }

      .select2-dropdown {
        @apply bg-slate-700;
      }

      .select2-search__field {
        @apply bg-slate-800 border-slate-900 !important;
      }

      .select2-selection--multiple, .select2-selection--single {
        @apply bg-slate-800 focus:ring-blue-500 border-slate-900 !important;
        @apply text-slate-300;
      }

      /* For the selected options in the multiple select2 component */
      .select2-selection__choice {
        @apply bg-blue-500 border-blue-500 !important;
        @apply text-white;

        .select2-selection__choice__remove {
          @apply text-white;

          &:hover {
            @apply text-white;
          }
        }
      }

      .select2-results__option {
        @apply text-slate-300;
      }
    }

    /* Trix Editor */
    trix-editor {
      @apply bg-slate-800 border-slate-900 !important;

      &:focus, &:active {
        @apply border-blue-500 !important;
      }
    }

    trix-toolbar {
      .trix-button-group, .trix-button {
        @apply border-slate-900 !important;
      }
    }

    .tribute-container {
      ul {
        @apply bg-slate-800 border-slate-900 !important;
      }
    }

    .trix-dialogs {
      @apply bg-slate-800 border-slate-900 !important;
    }

    .trix-content {
      a[href^="bullettrain://"] {
        @apply bg-slate-500 text-white;
      }
    }

    /* CKEditor */
    .ck {
      --ck-color-base-background: theme('colors.slate.800');
      --ck-color-base-border: theme('colors.slate.900');
      --ck-color-toolbar-background: theme('colors.slate.800');
      --ck-color-toolbar-border: theme('colors.slate.900');
      --ck-color-text: theme('colors.slate.300');

      .ck-editor__editable:not(.ck-editor__nested-editable) {
        @apply shadow-none;

        &.ck-focused {
          @apply shadow-none;
        }
      }
    }
  }
}
